

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, ul, li, p, a {
    padding: 0;
    margin: 0;

    text-decoration: none !important
}

img {
    max-width: 100%
}

* {
    font-size: 13px;
    font-family: arial
}

.header {
    margin-top: 20px
}

.logo img, .p-banner-detail img, .top img {
    width: 100%
}

.menu-bg input, .menu-bg label {
    display: none
}

.menu ul li {
    display: inline-block
}

.menu {
    text-align: center
}

.menu ul li a {
    border-bottom: 4px solid #fff;
    display: block;
    padding: 10px 12px;
    color: #000;
    text-transform: uppercase;
    font-weight: 700
}

.menu ul li a:hover {
    border-bottom: 4px solid #E23940;
    color: #e23940
}

@media only screen and (max-width: 1199px) {
    .menu ul li a {
        padding: 10px 4px
    }
}

@media only screen and (max-width: 991px) {
    .menu-bg input, .menu-bg label {
        display: block
    }

    .menu-bg input {
        display: none
    }

    .menu-bg label {
        background: #000;
        color: #fff;
        font-size: 20px;
        padding: 5px;
        text-align: left
    }

    .menu-bg label:before {
        font-family: FontAwesome;
        content: "\f0c9";
        padding-right: 10px;
        color: #16a1e7;
        font-size: 20px;
        background: #000;
        width: 100%
    }

    .menu-bg input:checked~.menu {
        display: block;
        transition: .3s
    }

    .menu {
        display: none
    }

    .menu ul li {
        display: table;
        border-bottom: 1px solid #ddd;
        width: 100% !important;
        text-align: left
    }

    .menu ul li a {
        font-size: 15px;
        display: block;
        width: 100% !important
    }
}

.middle-top {
    background: #f5f5f5;
    padding: 40px 10px
}

.middle-top-box {
    padding: 30px;
    background: #fff;
    min-height: 540px;
    border: 1px solid #ddd
}

.middle-top-box img {
    width: 100%;
    max-width: 500px
}

.promo img, .banner img, .bottom-promo img {
    width: 100%
}

.img-box img {
    width: 100%;
    border: 1px solid #ddd
}

.heading {
    line-height: 1px;
    border-bottom: 5px double #000;
    text-align: center;
    position: relative
}

.heading span {
    padding: 10px;
    background: #fff;
    color: #000;
    font-size: 27px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    position: relative;
    top: 6px
}

.slogan p {
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 17px;
    margin-top: 20px;
    text-transform: uppercase
}

@media screen and (max-width: 480px) {
    .logo {
        text-align: center
    }

    .logo img {
        width: 200px
    }
}

.product_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f5f5f5;
    grid-gap: 20px;
    margin: 20px 0
}

h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: Raleway, sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s
}

h1 span {
    display: block;
    font-size: .5em;
    line-height: 1.3
}

h1 em {
    font-style: normal;
    font-weight: 600
}

.nine h1 {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    color: #222;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-weight: 400
}

.nine h1 span {
    margin-top: 5px;
    font-size: 15px;
    color: #444;
    word-spacing: 1px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center
}

.nine h1 span:after, .nine h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
    background-color: #f8f8f8
}

.button_link {
    position: relative;
    bottom: 0;
    text-align: center
}

.button_link a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #e23940;
    color: #fff;
    padding: 10px
}

.button_link a:hover {
    background-color: #22409a
}

.title {
    background-image: url(https://cdn.shopify.com/s/files/1/0668/1473/8719/files/technology_1.gif?v=1670763533);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: 800;
    font-family: sans-serif
}

.why_us_text_paragraph {
    font-size: 16px
}

.why_us_text_lists {
    list-style: circle !important;
    margin-left: 16px;
}

.why_us_text_lists li {
    font-weight: 00;
    font-size: 16px;
    margin-bottom: 6px;
}

.working_with_laptop img {
    width: 100%;
    min-height: 500px;
}

.our_categories_button {
    
    background-color: #22409a;
    color: #fff;
    font-size: 16px;
    font-weight: 700
}

.our_categories_button:hover {
    color: #fff;
    background-color: #e23940;
}



@media screen and (min-width: 601px) {
    .for_mobile {
        display: none
    }
}

.poliyd {
    text-align: center
}

.colmdx {
    display: inline-block;
    max-width: 280px;
    width: 100%;
    vertical-align: top
}

.policy-box {
    border: 1px solid #ddd;
    padding: 5px;
    margin: 20px 0
}

.policy-heading h4 {
    background: #22409A;
    padding: 10px;
    color: #fff;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase
}

.policy-heading h4 i {
    font-size: 19px
}

.policy-detail {
    padding: 6px;
    text-align: justify;
    min-height: 330px;
    background: #fff
}

.b-box {
    border: 1px solid #000;
    padding: 10px;
    margin: 10px 0;
    background: #fff
}

.b-imgbox {
    width: 100px;
    display: inline-block;
    vertical-align: middle
}

.b-imgbox img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    justify-content: center
}

.footer {
    background: #f5f5f5;
}

.footer-box {
    border-right: 1px solid #ccc;
    margin-top: 30px;
    margin-bottom: 10px;

}

.footer-detail ul li a {
    color: #000;
    font-size: 14px;
    padding: 7px
}

.footer-logo img {
    width: 100%
}

.ft-heading h4 {
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 1px
}

.footer-detail ul li a:before, .policy-detail ul li:before {
    font-family: FontAwesome;
    content: "\f0da";
    padding-right: 10px
}

@media screen and (max-width: 600px) {
    .policy-detail {
        padding: 6px;
        text-align: justify;
        min-height: auto !important;
        background: #fff
    }

    .colmdx {
        max-width: auto
    }
}


/*Tabs*/
.tabs {
    margin: 20px 0px;
}

.tabs input, .tabs-1 input {
    display: none;
}

.tabs label, .tabs-1 label {
    width: 100%;
    margin: auto;
    margin: 0px;
    text-transform: uppercase;
    background: #22409a;
    border-bottom: 1px solid white;
    display: inline-block;
    padding: 10px;
    text-align: left;
    color: #fff;
    transition: .5s;
}

.tabs label:hover, .tabs-1 label:hover {
    background:#e23940;
    cursor: pointer;
    color: #fff;
}

.tabs input:checked+label, .tabs-1 input:checked+label {
    color: #fff;
}

.tabs label:after, .tabs-1 label:after {
    font-family: FontAwesome;
    content: "\f067";
    font-weight: normal;
    text-align: right;
    position: absolute;
    right: 50px;
}

.tabs input:checked+label:after, .tabs-1 input:checked+label:after {
    font-family: FontAwesome;
    content: "\f068";
    font-weight: normal;
    text-align: right;
    position: absolute;
    right: 50px;
}

.tabs #tab1:checked~.content #content1,
.tabs #tab2:checked~.content #content2,
.tabs #tab3:checked~.content #content3,
.tabs #tab4:checked~.content #content4,
.tabs #tab5:checked~.content #content5,
.tabs-1 #tab7:checked~.content #content7,
.tabs-1 #tab8:checked~.content #content8,
.tabs-1 #tab9:checked~.content #content9 {
    display: block;
}

.tabs .content>div, .tabs-1 .content>div {
    background: #fff;
    display: none;
    padding: 20px;
    text-align: left;
    border: 1px solid #ddd;
}

.b-imgbox {
    margin-right: 4px;
}

.card {
    margin-bottom: 10px;
}


.icon_with_text_image {
    width: 50px;
    height: auto;
} 

.icon_with_text {
    display: flex;
  } 

  .tabs label {
    text-align: center;
  }

  .top {
    margin-left: 24px;
  }

  .footer-detail ul {
    list-style: none !important;
  }

 
  @media screen and (max-width: 600px) {
    .policy-detail {
        padding: 6px;
        text-align: justify;
        min-height: auto;
        background: #fff
    }
    .top {
        margin-left: 0px;
        margin-bottom: 10px;
      }

    .logo {
        text-align: center;

        margin-bottom: 20px;
    }

    

    .working_with_laptop img {
        width: 100%;
        min-height: auto;
    }
    .logo img {
        width: 200px;
    }

    .logo_background {
        /* background-color:#ddd */
    }

    .for_desktop {
        display: none
    }

    .product_section {
        grid-template-columns: 1fr
    }

    .why_us_text {
        margin-bottom: 40px
    }

    .working_with_laptop img {
        width: 100%;
        height: auto
    }

    .footer_banners {
        margin-bottom: 30px
    }

    .icon-text .para-2{
        font-size: 12px
    }
}

.menu-bg{
	margin-top: 15px
}
